@import "../common/variables";

.banner-second-level {
  .bg-img {
    height: 403px;
    position: relative;
    @include phablet {
      height: 350px;
    }
    @include phablet-down {
      height: 300px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $blue-lagoon;
      opacity: 0.67;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .v-middle {
    color: $white;
    h1 {
      font-size: 45px;
      line-height: 1.44;
      font-weight: 400;
      @include desktop {
        font-size: 40px;
      }
      @include tablet {
        font-size: 35px;
      }
      @include phablet {
        font-size: 30px;
      }
      @include phone {
        font-size: 28px;
      }
      @include phone-down {
        font-size: 24px;
      }
    }
    h6 {
      line-height: 1.2;
      font-weight: 400;
      margin: 20px 0 60px;
      @include phablet {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 10px 0 20px;
      }
    }
    a {
      display: inline-block;
      margin: 0 auto;
      box-shadow: none;
    }
  }
  &.banner-terms-conditions {
    h2 {
      color: $white;
      font-size: 45px;
      line-height: 1.44;
      font-weight: 400;
      @include desktop {
        font-size: 40px;
      }
      @include tablet {
        font-size: 35px;
      }
      @include phablet {
        font-size: 30px;
      }
      @include phone {
        font-size: 28px;
      }
      @include phone-down {
        font-size: 24px;
      }
    }
  }
}