@import "../common/variables";

.col-two-block {
  padding: 60px 0 75px;
  @include desktop {
    padding: 60px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 30px 0;
  }
  .column-wrapper {
    margin-top: 48px;
    @include tablet {
      margin-top: 30px;
    }
    @include phablet {
      margin-top: 30px;
    }
    @include phablet-down {
      margin-top: 20px;
    }
    .col-two {
      font-family: $proxima;
      .bg-img {
        margin-left: -116px;
        cursor: pointer;
        position: relative;
        @include container-down {
          margin-left: 0
        }
        //@include desktop {
        //  display: table-cell;
        //  vertical-align: middle;
        //}
        //@include tablet {
        //  display: table-cell;
        //  vertical-align: middle;
        //}
        //@include phablet {
        //  display: table-cell;
        //  vertical-align: middle;
        //}
        img {
          height: 100%;
          width: auto;
          max-width: inherit;
          @include container-down {
            height: auto;
            width: 100%;
          }
        }
        .link-icon {
          position: absolute;
          bottom: 56px;
          left: 50%;
          width: 47px;
          height: 47px;
          animation-duration: 1.7s;
          @include desktop {
            bottom: 40px;
            left: calc(50% - 17px);
            width: 35px;
            height: 35px;
          }
          @include tablet {
            bottom: 35px;
            left: calc(50% - 15px);
            width: 28px;
            height: 28px;
          }
          @include phablet {
            bottom: 55px;
            left: calc(50% - 15px);
            width: 32px;
            height: 32px;
          }
          @include phablet-down {
            bottom: 15%;
            left: 47%;
            width: 25px;
            height: 25px;
          }
        }
      }
      span {
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        color: $primary2;
        text-transform: uppercase;
        margin-bottom: 13px;
        @include desktop {
          margin-bottom: 10px;
        }
        @include tablet {
          margin-bottom: 10px;
        }
        @include phablet {
          margin-bottom: 5px;
        }
        @include phablet-down {
          margin-bottom: 5px;
        }
      }
      h4 {
        font-family: $proxima;
        color: $gray;
        font-weight: 400;
      }
      p {
        margin: 11px 0 24px;
        padding-right: 18px;
        padding-left: 2px;
        @include container-down {
          margin: 10px 0;
        }
      }
      .category {
        padding-left: 2px;
        li {
          position: relative;
          font-size: 16px;
          font-weight: 400;
          padding-left: 31px;
          margin-bottom: 20px;
          color: $primary2;
          @include desktop {
            margin-bottom: 15px;
          }
          @include tablet {
            margin-bottom: 10px;
            font-size: 15px;
          }
          @include phablet {
            margin-bottom: 10px;
            font-size: 15px;
          }
          @include phablet-down {
            margin-bottom: 14px;
            font-size: 14px;
            z-index: 2;
          }
          &:before {
            content: '';
            position: absolute;
            width: 9px;
            height: 9px;
            background: $primary;
            border-radius: 50%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
          &:last-child {
            margin-bottom: 33px;
            @include tablet {
              margin-bottom: 13px;
            }
            @include phablet {
              margin-bottom: 13px;
            }
            @include phablet-down {
              margin-bottom: 15px;
            }
          }
        }
      }
      &:first-child {
        width: 53.7%;
        @include desktop {
          width: 50%;
          display: table;
        }
        @include tablet {
          width: 50%;
          display: table;
        }
        @include tablet-down {
          width: 100%;
        }
        //@include phablet {
        //  width: 50%;
        //  display: table;
        //}
        //@include phablet-down {
        //  width: 100%;
        //}
      }
      &:last-child {
        width: 46.3%;
        text-align: left;
        //margin-top: 56px;
        padding-left: 56px;
        font-size: 0;
        @include desktop {
          width: 50%;
          margin-top: 0;
          padding-left: 20px;
        }
        @include tablet {
          width: 50%;
          margin-top: 0;
          padding-left: 20px;
        }
        @include tablet-down {
          width: 100%;
          margin-top: 30px;
          padding-left: 0;
        }
        //@include phablet {
        //  width: 50%;
        //  margin-top: 0;
        //  padding-left: 10px;
        //}
        //@include phablet-down {
        //  width: 100%;
        //  margin-top: 20px;
        //  padding-left: 0;
        //}
        a {
          display: inline-block;
          @include tablet {
            padding: 5px 12px 5px;
          }
          @include phablet {
            padding: 5px 12px 5px;
          }
          &.btn-two {
            margin-left: 32px;
            @include tablet {
              margin-left: 20px;
            }
            @include phablet {
              margin-left: 20px;
            }
            @include phablet-down {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}