@import "../common/variables";

.col-two-cta {
  position: relative;
  padding: 75px 0 134px;
  @include desktop {
    padding: 60px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 30px 0;
  }
  .column-wrapper {
    margin-top: 77px;
    box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, .6);
    -webkit-box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, .6);
    -moz-box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, .6);
    @include tablet {
      margin-top: 40px;
    }
    @include tablet-down {
      margin-top: 30px;
    }
    .col-two {
      padding: 71px 0 83px;
      @include tablet {
        padding: 60px 10px;
      }
      @include phablet {
        width: 50%;
        padding: 40px 10px;
      }
      @include phone {
        width: 100%;
        padding: 40px 10px;
      }
      @include phone-down {
        padding: 30px 10px;
      }
      h4 {
        font-family: $proxima;
        color: $white;
        font-weight: 600;
      }
      span {
        font-size: 18px;
        display: block;
        color: $white;
        font-family: $proxima;
        &.phone {
          margin: 15px 0 19px;
          @include tablet-down {
            margin: 15px 0;
          }
          a {
            color: $white;
          }
        }
        @include tablet {
          font-size: 16px;
        }
        @include phablet {
          font-size: 16px;
        }
        @include phablet-down {
          font-size: 14px;
        }
      }
      a {
        display: inline-block;
        @include phablet-down {
          margin-top: 15px;
        }
      }
      &.bg-astronaut-blue {
        a {
          &.btn-transparent {
            &:hover {
              color: $astronaut-blue;
            }
          }
        }
      }
      &.bg-primary {
        a {
          &.btn-transparent {
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}