@import "../common/variables";

.col-four-block {
  padding: 73px 0 75px;
  @include desktop {
    padding: 60px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 30px 0;
  }
  .intro-block {
    p {
      font-size: 18px;
      line-height: 1.33;
      a {
        font-size: 18px;
        display: inline-block;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          opacity: 0;
          background: $primary;
          @include transition(all, 0.3s, ease);
        }
        &:hover {
          &:after {
            opacity: 1;
            @include transition(all, 0.3s, ease);
          }
        }
      }
    }
  }
  .column-wrapper {
    margin-top: 40px;
    width: calc(100% + 30px);
    margin-left: -15px;
    @include desktop-down {
      width: 100%;
      margin-left: 0;
    }
    @include tablet {
      margin-top: 30px;
    }
    @include phablet {
      margin-top: 25px;
    }
    @include phablet-down {
      margin-top: 15px;
    }
    .col-two {
      width: calc(50% - 30px);
      margin: 13px 15px 15px;
      //perspective: 1500;
      //-webkit-perspective: 1500;
      @include phablet {
        width: calc(50% - 20px);
        margin: 13px 10px 15px;
      }
      @include phablet-down {
        width: 100%;
        margin: 13px 0 15px;
      }
      .hover {
        height: 100%;
        margin: 0 auto;
        position: relative;
        text-align: left;
        font-size: 0;
        -webkit-transition: 0.5s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 0.5s;
        -moz-transform-style: preserve-3d;
        -o-transition: 0.5s;
        -o-transform-style: preserve-3d;
        transition: 0.5s;
        transform-style: preserve-3d;
        .front {
          //display: table;
          //height: 100%;
          padding: 30px 35px 30px 33px;
          box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, 0.6);
          -webkit-box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, 0.6);
          z-index: 2;
          text-align: left;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
          transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          @include transition(all, 0.5s, ease-in-out);
          min-height: 274px;
          @include tablet {
            padding: 20px 25px 20px;
          }
          @include phablet-down {
            padding: 20px 25px 20px;
            min-height: 324px;
          }
          .featured-img {
            display: inline-block;
            width: 91px;
            height: 91px;
            vertical-align: middle;
            margin-bottom: 3px;
            border-radius: 50%;
            border: 2px solid $primary;
            text-align: center;
            @include tablet {
              width: 71px;
              height: 71px;
            }
            @include phablet {
              width: 71px;
              height: 71px;
            }
            @include phone {
              width: 65px;
              height: 65px;
            }
            @include phone-down {
              width: 60px;
              height: 60px;
            }
            .svg-icon {
              position: relative;
              top: 50%;
              @include transform(translateY(-50%));
              width: 55px;
              height: 45px;
              margin: 0 auto;
              @include tablet {
                width: 45px;
                height: 35px;
              }
              @include phablet {
                width: 45px;
                height: 35px;
              }
              @include phone {
                width: 39px;
                height: 29px;
              }
              @include phone-down {
                width: 34px;
                height: 24px;
              }
              img {
                min-height: 100%;
                min-width: 100%;
              }
            }
          }
          .featured-text {
            display: inline-block;
            width: calc(100% - 91px);
            vertical-align: middle;
            padding-left: 44px;
            @include tablet {
              padding-left: 25px;
              width: calc(100% - 71px);
            }
            @include phablet {
              width: 100%;
              padding-left: 0;
              padding-top: 15px;
            }
            @include phone-down {
              width: 100%;
              padding-left: 0;
              padding-top: 15px;
            }
            h5 {
              font-weight: 600;
              color: $primary;
            }
            p {
              margin: 14px 0 19px;
              line-height: 1.5;
            }
            span {
              display: inline-block;
              font-size: 14px;
              color: $astronaut-blue;
              line-height: inherit;
              margin: 2px 0;
              font-family: $proxima;
              position: relative;
              cursor: pointer;
              @include transition (all, 0.3s, ease);
              &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                right: 0;
                background: $astronaut-blue;
                opacity: 0;
                visibility: hidden;
                @include transition (all, 0.3s, ease);
              }
              &:hover {
                color: $astronaut-blue;
                @include transition (all, 0.3s, ease);
                &:after {
                  opacity: 1;
                  visibility: visible;
                  @include transition (all, 0.3s, ease);
                }
              }
            }
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          background: $curious-blue;
          z-index: 3;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
          transform: rotateY(-180deg);
          -moz-transform: rotateY(-180deg);
          -o-transform: rotateY(-180deg);
          -ms-transform: rotateY(-180deg);
          -webkit-transform: rotateY(-180deg);
          @include transition(all, 0.5s, ease-in-out);
          padding: 30px 35px 30px 33px;
          -webkit-box-shadow: 2px 2px 5px 0 rgba(51,141,187,1);
          -moz-box-shadow: 2px 2px 5px 0 rgba(51,141,187,1);
          box-shadow: 2px 2px 5px 0 rgba(51,141,187,1);
          @include tablet {
            padding: 20px 25px 20px;
          }
          @include phablet-down {
            padding: 30px 25px 30px;
          }
          .featured-img {
            display: inline-block;
            width: 91px;
            height: 91px;
            vertical-align: middle;
            margin-bottom: 3px;
            border-radius: 50%;
            border: 2px solid $white;
            text-align: center;
            @include tablet {
              width: 71px;
              height: 71px;
            }
            @include phablet {
              width: 71px;
              height: 71px;
            }
            @include phone {
              width: 65px;
              height: 65px;
            }
            @include phone-down {
              width: 60px;
              height: 60px;
            }
            .svg-icon {
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
              width: 55px;
              height: 45px;
              margin: 0 auto;
              @include tablet {
                width: 45px;
                height: 35px;
              }
              @include phablet {
                width: 45px;
                height: 35px;
              }
              @include phone {
                width: 39px;
                height: 29px;
              }
              @include phone-down {
                width: 34px;
                height: 24px;
              }
              img {
                min-height: 100%;
                min-width: 100%;
              }
            }
          }
          h5 {
            color: $white;
            margin-bottom: 10px;
          }
          ul {
            li {
              position: relative;
              padding-left: 17px;
              &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                top: 50%;
                left: 0;
                background: $white;
                border-radius: 50%;
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
              }
              a {
                font-size: 16px;
                color: $white;
                line-height: inherit;
                margin: 2px 0;
                font-family: "proxima-nova", sans-serif;
                display: inline-block;
                @include transition(all, 0.3s, ease);
                @include tablet {
                  font-size: 15px;
                }
                @include phablet {
                  font-size: 15px;
                }
                @include phone {
                  font-size: 15px;
                }
                @include phone-down {
                  font-size: 14px;
                }
                &:after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background: $astronaut-blue;
                  opacity: 0;
                  visibility: hidden;
                  -webkit-transition: all 0.3s ease;
                  -o-transition: all 0.3s ease;
                  transition: all 0.3s ease;
                }
                &:hover {
                  color: $astronaut-blue;
                  &:after {
                    opacity: 1;
                    visibility: visible;
                    @include transition (all, 0.3s, ease);
                  }
                }
              }
            }
          }
          .close {
            position: absolute;
            right: 6px;
            top: 6px;
            width: 22px;
            height: 22px;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
            padding: 6px;
            z-index: 10;
            img {
              min-width: 10px;
              min-height: 10px;
            }
          }
        }
        .featured-text {
          display: inline-block;
          width: calc(100% - 91px);
          vertical-align: middle;
          padding-left: 44px;
          @include tablet {
            padding-left: 20px;
            width: calc(100% - 71px);
          }
          @include phablet {
            width: 100%;
            padding-left: 0;
            padding-top: 15px;
          }
          @include phone-down {
            width: 100%;
            padding-left: 0;
            padding-top: 15px;
          }
        }
        &.flip {
          .front {
            z-index: 4;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
          }
          .back {
            opacity: 1;
            z-index: 5;
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
          }
        }
      }
      &:nth-child(2) {
        .hover {
          .featured-img {
            .svg-icon {
              width: 50px;
              height: 58px;
              @include tablet {
                width: 40px;
                height: 48px;
              }
              @include phablet {
                width: 40px;
                height: 48px;
              }
              @include phone {
                width: 35px;
                height: 43px;
              }
              @include phone-down {
                width: 30px;
                height: 38px;
              }
            }
          }
        }
      }
      &:nth-child(3) {
        .hover {
          .featured-img {
            .svg-icon {
              width: 47px;
              height: 50px;
              @include tablet {
                width: 37px;
                height: 40px;
              }
              @include phablet {
                width: 37px;
                height: 40px;
              }
              @include phone {
                width: 32px;
                height: 35px;
              }
              @include phone-down {
                width: 27px;
                height: 30px;
              }
            }
          }
        }
      }
      &:last-child {
        .hover {
          .featured-img {
            .svg-icon {
              width: 55px;
              height: 55px;
              @include tablet {
                width: 44px;
                height: 44px;
              }
              @include phablet {
                width: 44px;
                height: 44px;
              }
              @include phone {
                width: 39px;
                height: 39px;
              }
              @include phone-down {
                width: 34px;
                height: 34px;
              }
            }
          }
        }
      }
    }
  }
}