@import "../common/variables";

.col-three-block {
  z-index: 1;
  padding: 53px 0 36px;
  overflow: visible;
  @include desktop {
    padding: 50px 0 30px;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 30px 0;
  }
  .intro-block {
    h3 {
      &:after {
        @include phablet-down {
          bottom: -5px;
        }
      }
    }
    p {
      max-width: 610px;
      @include phablet-down {
        padding-top: 20px;
      }
    }
  }
  .video-block {
    max-width: 411px;
    background: $primary;
    margin: 59px auto 0;
    position: relative;
    cursor: pointer;
    @include tablet {
      margin: 40px auto 0;
    }
    @include tablet-down {
      margin: 30px auto 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: $black;
      opacity: 0.53;
      z-index: 1;
    }
    .bg-img {
      height: 228px;
      padding-right: 50px;
    }
    .play-btn {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 32px);
      width: 65px;
      height: 65px;
      z-index: 1;
    }
  }
  .column-wrapper {
    margin-top: 50px;
    margin-left: -15px;
    width: calc(100% + 30px);
    @include desktop {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
    @include desktop-down {
      width: 100%;
      margin-left: 0;
    }
    @include phablet {
      margin-top: 25px;
    }
    @include phablet-down {
      margin-top: 15px;
    }
    .col-three {
      width: calc(33.33% - 30px);
      margin: 0 15px;
      max-width: 350px;
      -webkit-box-shadow: 2px 2px 5px 0 rgba(222, 222, 222, 1);
      -moz-box-shadow: 2px 2px 5px 0 rgba(222, 222, 222, 1);
      box-shadow: 2px 2px 5px 0 rgba(222, 222, 222, 1);
      @include container-down {
        max-width: inherit;
      }
      @include desktop {
        width: calc(33.33% - 30px);
        margin: 0 15px;
      }
      @include tablet {
        width: calc(33.33% - 24px);
        margin: 0 12px;
      }
      @include phablet {
        width: calc(50% - 24px);
        margin: 0 12px 20px;
      }
      @include phablet-down {
        width: 100%;
        margin: 0 auto 20px;
        max-width: 500px;
        float: none;
      }

      h5 {
        color: $white;
        font-weight: 400;
        padding: 35px 10px 40px 10px;
        text-align: center;
        @include tablet {
          padding: 18px 30px;
        }
        @include phablet {
          padding: 15px 10px;
        }
        @include phablet-down {
          padding: 15px;
        }
      }
      .content-text {
        background: $white;
        padding: 23px 42px 46px 44px;
        text-align: center;
        @include desktop {
          padding: 30px 20px;
        }
        @include tablet {
          padding: 20px 20px 30px;
        }
        @include tablet-down {
          padding: 20px 15px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 1.23;
          @include desktop-down {
            padding: 0;
          }
        }
      }
      &:last-child {
        @include phablet-down {
          margin-bottom: 0;
        }
      }
    }
  }
  //&.green-small-eclipse {
  //  position: relative;
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    background: url(/templates/dist/images/eclipse_combine_small.png) no-repeat;
  //    top: -154px;
  //    left: -60px;
  //    width: 231px;
  //    height: 202px;
  //    z-index: 1;
  //    @include phone {
  //      top: -150px;
  //      left: -60px;
  //      background-size: 90%;
  //    }
  //    @include phone-down {
  //      top: -130px;
  //      left: -85px;
  //      background-size: 80%;
  //    }
  //  }
  //}
}

.overlay-gray {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 96, 111, .73);
    z-index: -1;
  }
}