@import "../common/variables";

.contact-us {
  .bg-img {
    height: 475px;
    position: relative;
    @include tablet {
      height: 375px;
    }
    @include phablet {
      height: 305px;
    }
    @include phablet-down {
      height: 280px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $astronaut-blue;
      opacity: 0.67;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .intro-block {
    color: $white;
    h3 {
      color: $white;
      &:after {
        background: $white;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $white;
      padding-bottom: 52px;
      @include phablet {
        padding-bottom: 30px;
      }
      @include phablet-down {
        padding-bottom: 25px;
        padding-top: 15px;
      }
      @include phone {
        font-size: 16px;
      }
      @include phone-down {
        font-size: 14px;
      }
    }
  }
  .contact-details {
    h5 {

    }
    span {
      font-family: $proxima;
      display: block;
      margin: 20px 0;
      font-size: 18px;
      @include phablet {
        margin: 15px 0;
        font-size: 16px;
      }
      @include phone {
        margin: 10px 0;
        font-size: 16px;
      }
      @include phone-down {
        margin: 10px 0;
        font-size: 14px;
      }
    }
    a {
      display: inline-block;
      &:hover {
        color: $astronaut-blue;
      }
    }
  }
}