@import "../common/variables";

.cta-column {
  position: relative;
  padding: 59px 0 41px;
  @include desktop {
    padding: 50px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 30px 0;
  }
  .intro-block {
    h3 {
      color: $white;
      &:after {
        bottom: -16px;
        background: $white;
      }
    }
    p {
      max-width: 820px;
      padding-top: 24px;
      font-size: 18px;
      color: $white;
      @include phablet {
        font-size: 16px;
      }
      @include phablet-down {
        font-size: 14px;
      }
      &.width-720 {
        @include phablet-down {
          padding-top: 10px;
        }
      }
      a {
        font-size: 18px;
        display: inline;
        @include transition(all, 0.3s, ease);
        @include phablet {
          font-size: 16px;
        }
        @include phablet-down {
          font-size: 14px;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background: $primary;
          opacity: 0;
          @include transition(all, 0.3s, ease);
        }
        &:hover {
          &:after {
            opacity: 1;
            @include transition(all, 0.3s, ease);
          }
        }
      }
    }
    .learn-more {
      display: inline-block;
      margin: 32px auto;
      box-shadow: none;
      @include phablet-down {
        margin-top: 15px;
      }
      &:hover {
        border-color: $white;
      }
    }
  }
}