@import "../common/variables";

.hero-slider {
  .bg-img {
    height: 523px;
    opacity: 0;
    @include phablet {
      height: 480px;
    }
    @include phablet-down {
      height: 423px;
      position: relative;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    &:before {
      @include desktop-down {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.78);
      }
    }
  }
  .hero-content {
    opacity: 0;
    max-width: 444px;
    padding-bottom: 125px;
    h2 {
      color: $primary;
      font-weight: 300;
      padding-right: 20px;
      font-size: 57px;
      font-family: "proxima-nova", sans-serif;
      line-height: 1.14;
      letter-spacing: -0.039em;
      @include desktop {
        font-size: 50px;
      }
      @include tablet {
        font-size: 45px;
      }
      @include phablet {
        font-size: 40px;
      }
      @include phone {
        font-size: 35px;
      }
      @include phone-down {
        font-size: 30px;
      }
    }
    p {
      padding: 16px 0 3px;
      font-size: 20px;
      line-height: 1.2;
      @include tablet-down {
        line-height: 1.4;
      }
      @include phablet {
        font-size: 18px;
      }
      @include phone {
        font-size: 18px;
      }
      @include phone-down {
        font-size: 16px;
      }
    }
    a {
      font-size: 20px;
      margin: 15px 0 0;
      @include phablet {
        font-size: 18px;
      }
      @include phone {
        font-size: 18px;
      }
      @include phone-down {
        font-size: 16px;
      }
      @include transition(all, 0.3s, ease-out);
      &:hover {
        color: $primary;
        @include transition(all, 0.3s, ease-out);
      }
      span {
        display: inline-block;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background: $primary;
          opacity: 0;
          @include transition(all, 0.3s, ease-out);
        }
        &:hover {
          &:after {
            opacity: 1;
            @include transition(all, 0.3s, ease-out);
          }
        }
      }

    }
  }
  .slide-wrapper {
    .slick-slide {
      position: relative;
      outline: none;
      &.slick-current {
        .bg-img {
          opacity: 1;
        }
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 10px;
      left: calc(50% - 40px);
      text-align: center;
      li {
        display: inline-block;
        button {
          border: 1px solid $blue-whale;
          border-radius: 50%;
          margin: 0 5px;
          display: block;
          width: 10px;
          height: 10px;
          background: transparent;
          text-indent: -999999px;
          cursor: pointer;
          outline: none;
        }
        &.slick-active {
          button {
            background: $primary;
            border: 1px solid $primary;
          }
        }
      }
    }
  }
}