@import "../common/variables";

.intro-block {
  h3 {
    display: inline-block;
    position: relative;
    color: $astronaut-blue;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: -0.01em;
    padding: 0 15px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: $gray;
      bottom: -11px;
      left: 0;
      right: 0;
      @include tablet-down {
        bottom: -5px;
      }
    }
  }
  p {
    max-width: 730px;
    margin: 0 auto;
    padding-top: 25px;
    @include tablet-down {
      padding-top: 20px;
    }
  }
  &.white {
    h3 {
      color: $white;
      letter-spacing: -0.01em;
      &:after {
        background: $white;
      }
    }
    p {
      color: $white;
    }
  }
}