@import "../common/variables";

.qlik-pricing-overlay {
  display: none;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  overflow: visible;
  .pricing-sales-analytics-overlay {
    margin-top: 37.5px;
    height: calc(100vh - 75px);
    z-index: -1;
    max-width: inherit;
    @include transition (all, 0.3s, ease-in);
    overflow: auto;
    .main-wrapper {
      position: relative;
      width: 100%;
      margin: 0 auto;
      max-width: 1110px;
    }
    .content-wrapper {
      position: relative;
      width: 100%;
      padding: 90px 55px;
      background: $white;
      margin: 0 auto;
      max-width: 1110px;
      @include tablet {
        padding: 30px;
      }
      @include phablet {
        padding: 30px;
      }
      @include phablet-down {
        padding: 30px 10px;
      }
      .intro-block {
        p {
          font-size: 18px;
          @include phablet {
            font-size: 16px;
          }
        }
      }
      .column-wrapper {
        margin: 27px auto 0;
        max-width: 920px;
        .overlay-title {
          h5 {
            padding: 30px 0;
            color: $white;
            font-weight: 400;
            @include tablet-down {
              padding: 15px 0;
            }
          }
        }
        .feature-details {
          text-align: center;
          padding: 45px 40px 55px 100px;
          @include desktop {
            padding: 45px 40px 55px;
          }
          @include desktop-down {
            padding: 25px 20px;
          }
          ul {
            text-align: left;
            li {
              padding-left: 42px;
              position: relative;
              margin: 3px 0;
              &.dot-line {
                position: relative;
                padding-left: 21px;
                &:before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 0;
                  width: 6px;
                  height: 6px;
                  background: $primary !important;
                  border-radius: 50%;
                  transform: translateY(-50%);
                }
              }
              &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 12px;
                width: 10px;
                height: 1px;
                background: $astronaut-blue;
                transform: translateY(-50%);
              }
              p {
                @include phablet-down {
                  font-size: 14px;
                }
              }
            }
          }
          a {
            display: inline-block;
            margin: 60px auto 0;
            @include tablet {
              margin: 30px auto 0;
            }
            @include phablet {
              margin: 25px auto 0;
            }
            @include phablet-down {
              margin: 13px auto 0;
            }
          }
        }
        .col-two {
          &:first-child {
            .feature-details {
              border-right: 1px solid $border-color;
              @include tablet-down {
                border-right: none;
              }
            }
          }
        }
      }
    }
    &.we-active {
      opacity: 1;
      z-index: 99;
    }
    .v-middle {
      padding: 0 30px;
      @include tablet-down {
        padding: 0 20px;
        vertical-align: top;
      }
      @include phablet-down {
        padding: 0;
      }
    }
  }
  .close {
    position: absolute;
    right: 27px;
    top: 26px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid $white;
    outline: none;
    cursor: pointer;
    padding: 0;
    @include phone-down {
      right: 11px;
      top: 11px;
      width: 13px;
      height: 13px;
    }
    img {
      min-height: 17px;
      min-width: 17px;
    }
  }
}

