@import "../common/variables";

.pricing-details {
  overflow: visible;
  padding: 56px 0 92px;
  @include desktop {
    padding: 60px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 30px 0;
  }
  .column-wrapper {
    margin-top: 53px;
    width: calc(100% + 30px);
    margin-left: -15px;
    @include container-down {
      padding: 0;
    }
    @include desktop {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
    @include desktop-down {
      width: 100%;
      margin-left: 0;
    }
    @include phablet {
      margin-top: 35px;
    }
    @include phablet-down {
      margin-top: 35px;
    }
    .col-four {
      width: calc(25% - 40px);
      margin: 0 15px;
      min-height: 436px;
      //perspective: 1500;
      //-webkit-perspective: 1500;
      //@include transform(scale(1, 1));
      @include desktop {
        width: calc(25% - 30px);
        margin: 0 11px;
      }
      @include desktop-down {
        min-height: inherit;
      }
      @include tablet {
        width: calc(50% - 24px);
        margin: 0 12px 22px;
      }
      @include phablet {
        width: calc(50% - 24px);
        margin: 0 12px 20px;
      }
      @include phablet-down {
        width: 100%;
        margin: 0 auto 20px;
        max-width: inherit;
        min-height: inherit;
        float: none;
      }
      .hover {
        margin: 0 auto;
        position: relative;
        text-align: left;
        font-size: 0;
        perspective: 1500px;
        -webkit-perspective: 1500px;
        -ms-perspective: 1500px;
        -webkit-transition: 0.5s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 0.5s;
        -moz-transform-style: preserve-3d;
        -o-transition: 0.5s;
        -o-transform-style: preserve-3d;
        transition: 0.5s;
        transform-style: preserve-3d;
        -ms-transition: 0.5s;
        -ms-transform-style: preserve-3d;
        .front {
          padding: 23px 25px 35px;
          min-height: 436px;
          z-index: 1;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          -ms-backface-visibility: hidden;
          backface-visibility: hidden;
          perspective: 1000px;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
          transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, 0.6);
          -webkit-box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, 0.6);
          @include transition(transform, 0.5s, ease-in-out);
          -ms-transition: transform 0.5s ease-in-out;
          @include container-down {
            padding: 25px;
          }
          @include tablet {
            min-height: 370px;
          }
          @include phablet {
            min-height: 400px;
          }
          @include phablet-down {
            min-height: 320px;
          }
          .content-text {
            h4 {
              color: $astronaut-blue;
              font-weight: 600;
            }
            .sub-head {
              margin: 7px 0 18px;
              @include phablet-down {
                margin: 7px 0 15px;
              }
              p {
                color: $white;
                font-weight: 600;
              }
              span {
                display: block;
                color: $white;
                font-size: 12px;
                font-family: $proxima;
                font-weight: 400;
              }
              h5 {
                color: $white !important;
                font-weight: 600;
              }
            }
            .pricing-text {
              p {
                color: $white;
                line-height: 1.25;
              }
              span {
                display: block;
                color: $white;
                font-size: 12px;
                font-family: $proxima;
                font-weight: 400;
                line-height: 1.33;
                margin: 20px 0;
                @include tablet-down {
                  margin: 10px 0;
                }
              }
            }
            .price-link {
              position: absolute;
              bottom: 41px;
              left: 0;
              width: 100%;
              @include phablet-down {
                position: relative;
                bottom: 0;
                margin-top: 0;
              }
              a {
                display: inline-block;
              }
            }
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          //overflow: hidden;
          background: $primary;
          z-index: 2;
          padding: 30px 35px 30px 33px;
          perspective: 1000px;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          -ms-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
          transform: rotateY(-180deg);
          -moz-transform: rotateY(-180deg);
          -o-transform: rotateY(-180deg);
          -ms-transform: rotateY(-180deg);
          -webkit-transform: rotateY(-180deg);
          box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, 0.6);
          -webkit-box-shadow: 2px 2px 6px 0 rgba(185, 185, 185, 0.6);
          @include transition(all, 0.5s, ease-in-out);
          opacity: 0;
          @include phablet-down {
            padding: 20px 25px 20px;
          }
          .content-text {
            @include tablet-down {
              position: relative;
              top: 50%;
              transform: translateY(-50%);;
            }
          }
          .sub-head {
            margin: 7px 0 18px;
            @include phablet-down {
              margin: 7px 0 15px;
            }
            span {
              display: block;
              color: $white;
              font-size: 12px;
              font-family: $proxima;
              font-weight: 400;
              line-height: 1;
              letter-spacing: -0.025em;
            }
          }
          .pricing-text {
            ul {
              li {
                font-size: 16px;
                font-family: $proxima;
                color: $white;
                position: relative;
                margin-bottom: 3px;
                padding-left: 5px;
                @include desktop {
                  font-size: 14px;
                }
                @include desktop-down {
                  font-size: 14px;
                }
                @include phablet-down {
                  display: inline-block;
                }
                &:before {
                  content: '';
                  position: absolute;
                  width: 4px;
                  height: 4px;
                  background: $white;
                  border-radius: 50%;
                  top: 10px;
                  left: 0;
                  -webkit-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  transform: translateY(-50%);
                  @include phablet-down {
                   left: -10px;
                  }
                }
              }
            }
            p {
              color: $white;
            }
            span {
              display: block;
              color: $white;
              font-size: 12px;
              font-family: $proxima;
              font-weight: 400;
              line-height: 1.5;
              margin-bottom: 5px;
              text-align: center;
            }
          }
          .price-link {
            position: absolute;
            bottom: 41px;
            left: 0;
            width: 100%;
            @include tablet-down {
              position: relative;
              bottom: 0;
              margin-top: 10px;
            }
            a {
              display: inline-block;
            }
          }
          &.active {
            opacity: 1;
            visibility: visible;
          }
          .close {
            position: absolute;
            right: 6px;
            top: 6px;
            width: 22px;
            height: 22px;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
            padding: 6px;
            z-index: 10;
            @include tablet-down {
              right: 0;
            }
            img {
              min-width: 10px;
              min-height: 10px;
            }
          }
        }

        &.flip {
          .front {
            z-index: 3;

            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
          }
          .back {
            opacity: 1;
            z-index: 1000;
            transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
          }
        }
      }
      &:nth-child(2) {
        .content-text {
          .sub-head {
            margin: 7px 0 10px;
            span {
              padding: 0 50px;
              line-height: inherit;
            }
          }
          p {
            line-height: inherit;
            color: $white;
            @include desktop {
              font-size: 15px;
            }
            @include tablet {
              font-size: 15px;
            }
            @include phablet {
              font-size: 15px;
            }
          }
          .pricing-text {
            p {
              margin: 7px 0 20px;
              @include phablet-down {
                margin: 7px 0 15px;
              }
            }
          }
          .back-details {
            background: $curious-blue !important;
          }
        }
      }
      &:nth-child(3) {
        .content-text {
          .sub-head {
            margin: 7px 0 10px;
            span {
              padding: 0 50px;
              line-height: inherit;
              @include phablet-down {
                padding: 0;
              }
            }
          }
          p {
            line-height: inherit;
            color: $white;
          }
          .pricing-text {
            p {
              margin: 7px 0 20px;
              @include phablet-down {
                margin: 7px 0 15px;
              }
            }
          }
          .back-details {
            background: $light-blue !important;
          }
        }
      }
      &:last-child {
        .content-text {
          .sub-head {
            margin: 0 0 18px;
            @include phablet-down {
              margin: 0 0 15px;
            }
            span {
              line-height: 1;
            }
            p {
              margin-top: 40px;
              @include desktop-down {
                margin-top: 15px;
              }
            }
          }
          p {
            line-height: inherit;
            color: $white;
          }
          .pricing-text {
            p {
              margin: 7px 0 20px;
              @include phablet-down {
                margin: 0 0 15px;
              }
            }
          }
        }
        .back-details {
          background: $cashmere;
        }
      }
      &:first-child {
        @include tablet {
          margin: 0 0px 20px 12px;
          width: calc(50% - 36px);
        }
        @include phablet{
          margin: 0 0px 20px 12px;
          width: calc(50% - 36px);
        }
      }
      &.power-block {
        width: 25%;
        @include transform(scale(1.1));
        @include tablet {
          width: 50%;
          @include transform(scale(1.02, 1.06));
        }
        @include phablet {
          width: 50%;
          @include transform(scale(1.04 , 1.06));
        }
        @include phablet-down {
          width: 100%;
          @include transform(scale(1.04 , 1.06));
        }
        .front {
          h4 {
            font-size: 36px;
          }
          .sub-head  {
            span {
              padding: 0 30px;
            }
            h5 {
              font-size: 27px;
            }
          }
          p {
            font-size: 18px;
          }
        }
        .back {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  .redirect-btn {
    margin: 45px auto 0;
    text-align: center;
    a {
      margin: 0 5px;
      display: inline-block;
      @include phone-down {
        margin: 0 3.5px;
      }
    }
  }

  .front,
  .back {
    &.bg-primary {
      .price-link {
        a {
          &:hover {
            background: $white;
            color: $primary;
          }
        }
      }
    }
    &.bg-curious-blue {
      .price-link {
        a {
          &:hover {
            background: $white;
            color: $curious-blue;
          }
        }
      }
    }
    &.bg-light-blue {
      .price-link {
        a {
          &:hover {
            background: $white;
            color: $light-blue;
          }
        }
      }
    }
    &.bg-cashmere {
      .price-link {
        a {
          &:hover {
            background: $white;
            color: $cashmere;
          }
        }
      }
    }
  }

}