@import "../common/variables";

.privacy-policy-content {
  h5 {
    display: inline-block;
    position: relative;
    color: $astronaut-blue;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: -0.01em;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: $gray;
      bottom: -11px;
      left: 0;
      right: 0;
    }
  }
  .policy-details {
    margin-top: 45px;
    @include phablet-down {
      margin-top: 35px;
    }
    h6 {
      color: $astronaut-blue;
      font-weight: 400;
      display: inline-block;
      margin-bottom: 5px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: $astronaut-blue;
      }
    }
    .policy-text {
      margin-bottom: 25px;
      @include phablet-down {
        margin-bottom: 15px;
      }
      span {
        display: inline-block;
        font-weight: 600;
        color: $astronaut-blue;
        &.address {
          display: block;
          font-weight: 400;
          color: $primary2;
          padding-left: 20px;
        }
      }
    }
    .agreement-info {
      padding-left: 30px;
      position: relative;
      @include phablet-down {
        padding-left: 20px;
      }
      ul {
        li {
          position: relative;
          padding-left: 30px;
          margin: 15px 0;
          &:before {
            content: '';
            position: absolute;
            top: 40%;
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $astronaut-blue;
            transform: translateY(-50%);
            ;

          }
        }
      }
    }
  }
}