@import "../common/variables";

.qlik-image-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
  .image-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   // background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    @include transition(all, .5s, ease-in-out);
    &.we-active {
      opacity: 1;
      z-index: 99999;
    }
    .content-wrapper {
      overflow-y: scroll;
      max-height: calc(100vh - 200px);
      max-width: 900px;
      width: calc(100% - 40px);
      margin: 0 auto;
      position: relative;
      padding: 40px;
      background: $white;
      top: 50%;
      transform: translateY(-50%);
      @include tablet-down{
        padding: 40px 20px;
      }
      .demo-content-list {
        margin-top: 40px;
        h6 {
          color: $primary2;
          margin-bottom: 25px;
        }
        //ul {
        //  padding: 0 20px;
        //  li {
        //    font-size: 18px;
        //    font-family: $proxima;
        //    padding-left: 30px;
        //    color: $primary2;
        //    margin: 7px 0;
        //    position: relative;
        //    @include tablet-down {
        //      font-size: 16px;
        //      padding-left: 20px;
        //    }
        //    &:before {
        //      content: '';
        //      position: absolute;
        //      top: 50%;
        //      left: 0;
        //      width: 5px;
        //      height: 5px;
        //      background: $primary2;
        //      border-radius: 50%;
        //      transform: translateY(-50%);
        //    }
        //  }
        //}
        ol {
          padding: 0 20px 0 30px;
          li {
            list-style: decimal;
            font-size: 18px;
            font-family: $proxima;
            padding-left: 10px;
            color: $primary2;
            margin: 7px 0;
            position: relative;
            @include tablet-down {
              font-size: 16px;
              padding-left: 20px;
            }
            //&:before {
            //  content: '';
            //  position: absolute;
            //  top: 50%;
            //  left: 0;
            //  width: 5px;
            //  height: 5px;
            //  background: $primary2;
            //  border-radius: 50%;
            //  transform: translateY(-50%);
            //}
          }
        }
      }
      .close {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 26px;
        height: 26px;
        background: $white;
        border: 1px solid $white;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        padding: 6px;
        img {
          min-height: 12px;
          min-width: 12px;
        }
      }
    }
    &.we-active {
      opacity: 1;
      z-index: 99;
    }
  }
}

