@import "../common/variables";

.qlik-video-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
  .video-overlay {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    .video-container {
      position: relative;
      width: 100%;
      padding: 10px;
      background: $white;
      margin: 0 auto;
      max-width: 980px;
      > iframe {
        border: 0;
        width: 100%;
        z-index: 5;
      }
    }
    &.we-active {
      opacity: 1;
      z-index: 9999;
    }
    .v-middle {
      padding: 0 30px;
      @include tablet-down {
        padding: 0 20px
      }
    }
  }
  .closeVideo {
    position: absolute;
    right: -21px;
    top: -25px;
    width: 26px;
    height: 26px;
    background: $white;
    border: 1px solid $white;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
    @include tablet-down {
      right: 0;
      top: -32px;
    }
    img {
      min-height: 12px;
      min-width: 12px;
    }
  }
}

