@import "../common/variables";

.signup-form {
  padding-bottom: 17px;
  .intro-block {
    p {
      max-width: 770px;
    }
  }
  h4 {
    font-family: $proxima;
    color: $white;
    padding-bottom: 28px;
    @include phone-down {
      padding-bottom: 15px;
    }
  }
  .column-wrapper {
    margin-top: 45px;
    font-size: 0;
    @include tablet-down {
      margin-top: 25px;
    }
    .col-two {
      height: 650px;
      @media (max-width: 680px) {
        height: auto;
      }
      @include phablet-down {
        height: 100%;
      }
      &.form-content {
        width: 59.9%;
        @include tablet {
          width: 50%;
        }
        @include phablet {
          width: 50%;
        }
        @media (min-width: 596px) and (max-width: 680px) {
          width: 100%;
          padding: 27px 40px 30px;
          height: 100%;
        }
        @include phablet-down {
          width: 100%;
        }
      }
      &.form-view {
        width: 40.1%;
        padding: 27px 30px 30px;
        @include tablet {
          width: 50%;
          padding: 27px 15px 30px;
        }
        @include phablet {
          width: 50%;
          padding: 27px 15px 30px;
        }
        @media (min-width: 596px) and (max-width: 680px) {
          height: 100%;
          width: 100%;
          padding: 27px 40px 30px;
        }
        @include phablet-down {
          width: 100%;
          padding: 27px 15px 30px;
        }
        @include phone-down {
          padding: 15px;
        }
      }
      &.colleagues-success {
        width: 59.9%;
        float: right;
        @include tablet {
          width: 60%;
        }
        @include phablet {
          width: 50%;
        }
        @include phablet-down {
          width: 100%;
        }
      }
      &#exempt-thank-you {
        width: 59.9%;
        float: right;
        @include tablet {
          width: 60%;
        }
        @include phablet {
          width: 50%;
        }
        @include phablet-down {
          width: 100%;
        }
        .form-details {
          p {
            margin-bottom: 60px;
            font-size: 18px;
          }
        }
      }
      form {
        input {
          width: 100%;
          border: none;
          outline: none;
          padding: 11px 14px 10px;
          margin-bottom: 23px;
          font-size: 14px;
          font-family: $proxima;
          color: $black;
          @include phone-down {
            padding: 11px 14px;
            margin-bottom: 30px;
          }
          &:required {
            box-shadow: none;
          }
        }
        ::-webkit-input-placeholder {
          font-size: 14px;
          font-weight: 400;
          color: $primary2;
        }
        ::-moz-placeholder {
          font-size: 14px;
          font-weight: 400;
          color: $primary2;
        }
        :-ms-input-placeholder {
          font-size: 14px;
          font-weight: 400;
          color: $primary2;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
        }
        .checkbox {
          text-align: center;
          margin: 0 auto;
          max-width: 216px;
          width: 100%;
          position: relative;
          @include phone-down {
            margin: 0;
          }
          .checkbox-inner {
            width: auto;
            display: inline-block;
          input {
            position: absolute;
            opacity: 0;
            display: inline-block;
            width: 17px;
            height: 17px;
            top: 5px;
            left: 2px;
            margin-bottom: 0;
            z-index: 1;
            cursor: pointer;
            &:checked {
              + label {
                &:after {
                  content: '';
                  position: absolute;
                  left: -21px;
                  top: 1px;
                  width: 15px;
                  height: 15px;
                  background: url(/templates/dist/images/check_box.png) no-repeat;
                  background-size: 90%;
                }
              }
            }
          }
          label {
            position: relative;
            font-size: 12px;
            font-family: $proxima;
            line-height: 1.5;
            color: $white;
            margin: 5px 0 35px 3px;
            cursor: pointer;
            display: inline-block;
            padding-left: 5px;
            //width: calc(100% - 42px);
            @include phone-down {
              margin: 5px 0 15px;
            }
            &:before {
              content: '';
              display: inline-block;
              vertical-align: text-top;
              width: 17px;
              height: 17px;
              background: white;
              border-radius: 3px;
              cursor: pointer;
              position: absolute;
              left: -22px;
            }
            a {
              display: inline-block;
              color: $white;
              font-size: 12px;
              border-bottom: 1px solid #abbac0;
            }
          }
          }
        }
        .g-recaptcha-err {
          position: absolute;
          top: -20px;
          font-size: 14px;
          color: red;
          font-family: $proxima;
        }
        button {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          font-weight: 600;
          margin: 0 auto;
          padding: 8px 13px 6px;
          text-transform: inherit;
          &:disabled {
            opacity: .5;
          }
          &:hover:disabled {
            color: $white;
            cursor: default;
            border: 2px solid #338dbb;
            background: #338dbb !important;
          }
          @include phone-down {
            margin: 15px auto;
          }
        }
      }
      .form-details {
        height: 650px;
        padding: 0 95px 0 65px;
        text-align: left;
        background: url(/templates/dist/images/form-background.jpg) no-repeat;
        background-position: center right;
        @include desktop {
          padding: 0 55px;
        }
        @include tablet {
          padding: 0 15px 0 20px;
        }
        @media (max-width: 680px) {
          height: auto;
        }
        @include phablet {
          padding: 0 15px 0 20px;
        }
        @include phone {
          height: 100%;
          padding: 30px 45px 30px 45px;
        }
        @include phone-down {
          height: 100%;
          padding: 30px 20px;
        }
        ul {
          li {
            font-family: $proxima;
            font-weight: 400;
            font-size: 18px;
            color: $font-gray;
            position: relative;
            padding: 20px 0 40px 90px;
            @include tablet {
              font-size: 16px;
              padding: 10px 0 30px 70px;
            }
            @include phablet {
              font-size: 16px;
              padding: 10px 0 30px 70px;
            }
            @include phone {
              font-size: 16px;
              padding: 10px 0 30px 70px;
            }
            @include phone-down {
              font-size: 16px;
              padding: 10px 0 20px 65px;
            }
            &:before {
              content: '';
              position: absolute;
              top: 40%;
              left: 0;
              width: 65px;
              height: 65px;
              border-radius: 50%;
              background-position: center center;
              transform: translateY(-50%);
              @include tablet {
                width: 55px;
                height: 55px;
              }
              @include phablet {
                width: 55px;
                height: 55px;
              }
              @include phone {
                width: 50px;
                height: 50px;
              }
              @include phone-down {
                width: 45px;
                height: 45px;
              }
            }
            &.list-1 {
              &:before {
                background: url(/templates/dist/images/Icon_1.svg) no-repeat;
              }
            }
            &.list-2 {
              &:before {
                background: url(/templates/dist/images/Icon_2.svg) no-repeat;
              }
            }
            &.list-3 {
              &:before {
                background: url(/templates/dist/images/Icon_3.svg) no-repeat;
              }
            }
            &.list-4 {
              &:before {
                background: url(/templates/dist/images/Icon_4.svg) no-repeat;
              }
            }
            &.list-5 {
              &:before {
                background: url(/templates/dist/images/Icon_5.svg) no-repeat;
              }
            }
          }
        }
      }
    }
  }
  &.green-big-eclipse {
    position: relative;
    overflow: visible;
    &:before {
      content: '';
      position: absolute;
      background: url(/templates/dist/images/eclipse_combine_big.png) no-repeat;
      top: -125px;
      right: 0;
      width: 210px;
      height: 324px;
      z-index: 1;
      @include desktop {
        width: 180px;
        height: 278px;
        background-size: 100%;
      }
      @include tablet {
        width: 150px;
        height: 234px;
        background-size: 100%;
      }
      @include phablet {
        width: 140px;
        height: 216px;
        background-size: 100%;
      }
      @include phone {
        width: 120px;
        height: 187px;
        background-size: 100%;
      }
      @include phone-down {
        top: -100px;
        width: 90px;
        height: 139px;
        background-size: 100%;
      }
    }
  }
  &.colleagues-form {
    position: absolute;
    left: 20px;
    top: 0;
    display: none;
    width: calc(100% - 40px);
    .col-two {
      &.form-content {
        p {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 0;
          @include tablet {
            font-size: 16px;
          }
          @include phablet {
            font-size: 16px;
          }
          @include phone {
            font-size: 15px;
          }
          @include phone-down {
            font-size: 14px;
          }
        }
        ul {
          li {
            margin: 25px 0;
            padding: 10px 0 30px 90px;
            @include tablet {
              padding: 10px 0 10px 90px;
            }
            @include phablet {
              padding: 10px 0 10px 70px;
              margin: 15px 0;
            }
            @include phone {
              padding: 10px 0 10px 70px;
              margin: 15px 0;
            }
            @include phone-down {
              font-size: 14px;
              padding: 10px 0 10px 70px;
              margin: 15px 0;
            }
          }
        }
      }
      &.form-view {
        h4 {
          padding-bottom: 18px;
          @include tablet {
            padding-bottom: 12px;
          }
          @include phablet {
            padding-bottom: 12px;
          }
          @include phablet-down {
            padding-bottom: 12px;
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: $white;
          padding: 0 35px 20px;
          @include tablet {
            font-size: 16px;
          }
          @include phablet {
            font-size: 16px;
          }
          @include phone {
            font-size: 15px;
          }
          @include phone-down {
            font-size: 14px;
          }
        }
      }
      .form-details {
        li {
          &.list-1 {
            &:before {
              background: url(/templates/dist/images/thanku_Icon_1.svg) no-repeat !important;
            }
          }
          &.list-2 {
            &:before {
              background: url(/templates/dist/images/thanku_Icon_2.svg) no-repeat !important;
            }
          }
          &.list-3 {
            &:before {
              background: url(/templates/dist/images/thanku_Icon_3.svg) no-repeat !important;
            }
          }
          &.list-4 {
            &:before {
              background: url(/templates/dist/images/thanku_Icon_4.svg) no-repeat !important;
            }
          }
        }
      }
    }
  }
  .field {
    position: relative;
    .tooltiptext {
      position: absolute;
      z-index: 5;
      color: #fff;
      left: 10px;
      bottom: 0;
      font-size: 12px;
      background: #bf0000;
      padding: 4px 10px;
      font-family: $proxima;
      @include desktop-down {
        padding: 4px 5px;
        font-size: 11px;
      }
      &:after {
        content: "";
        overflow: hidden;
        position: absolute;
        top: -10px;
        left: 5px;
        border-color: transparent transparent #bf0000;
        border-style: solid;
        border-width: 5px;
      }
    }
  }
}

.checkbox {
  .tooltiptext {
    top: 27px;
    height: 25px;
    width: 260px;
    left: 0 !important;
  }
}

.colleagues-success {
  display: none;
  .form-details {
    p {
      margin-bottom: 60px;
      font-size: 18px;
    }
  }
}

.g-recaptcha {
  -moz-transform: scale(0.77);
  -ms-transform: scale(0.77);
  -o-transform: scale(0.77);
  -moz-transform-origin: 92% 0;
  -ms-transform-origin: 92% 0;
  -o-transform-origin: 92% 0;
  -webkit-transform: scale(0.77);
  transform: scale(0.77);
  -webkit-transform-origin: 92% 0;
  transform-origin: 92% 0;
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand');
  @include desktop {
    transform-origin: 65% 0;
  }
  @include tablet {
    transform-origin: 30% 0;
  }
  @include phablet {
    transform: scale(0.67);
    transform-origin: 30% 0;
  }
  @include phone {
    transform: scale(0.67);
    transform-origin: 65% 0;
  }
  @include phone-down {
    transform: scale(0.67);
    transform-origin: 0% 0%;
  }
}
