@import "../common/variables";

.signup-cta {
  padding: 29px 0 34px;
  background: $astronaut-blue;
  .signup-content {
    display: inline-block;
    margin-left: 88px;
    @include container-down {
      margin-left: 0;
    }
    h2 {
      float: left;
      font-weight: 400;
      letter-spacing: -0.01em;
      color: $white;
      @include desktop-down {
        width: 100%;
      }
    }
    .cta-btn {
      display: inline-block;
      margin-left: 82px;
      padding-top: 8px;
      @include desktop-down {
        margin-left: 0;
        padding-top: 15px;
      }
      a.btn-default {
        padding: 8px 14px 6px 15px;
        display: inline-block;
        box-shadow: none;
        &:hover {
          background: $white;
          color: $curious-blue;
          border-color: $white;
        }

      }
      .btn-two {
        border: 2px solid $curious-blue;
        margin-left: 28px;
        @include phone-down {
          margin-left: 10px;
        }
      }
    }
  }
}