@import "../common/variables";

.sales-analytics {
  .column-wrapper {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: 60px;
    @include phablet {
      margin-top: 40px;
    }
    @include phablet-down {
      margin-top: 30px;
      width: 100%;
      margin-left: 0;
    }
    .col-two {
      width: calc(50% - 30px);
      margin: 0 15px;
      @include phablet {
        width: calc(50% - 20px);
        margin: 0 10px;
      }
      @include phablet-down {
        width: 100%;
        margin: 0 auto 15px;
      }
      .table-info {
        padding: 35px 50px 20px 50px;
        @include tablet {
          padding: 35px 30px 20px;
        }
        @include phablet {
          padding: 35px 30px 20px;
        }
        @include phone {
          padding: 35px 30px 20px;
        }
        @include phone-down {
          padding: 35px 30px 20px;
        }
        h5 {
          color: $astronaut-blue;
          font-weight: 600;
        }
        span {
          display: inline-block;
          position: relative;
          font-size: 12px;
          font-family: $proxima;
          text-transform: uppercase;
          color: $white;
          margin: 10px 0 30px;
          cursor: pointer;
          @include phablet {
            margin: 10px 0 15px;
          }
          @include phablet {
            margin: 10px 0 15px;
          }
          @include phablet-down {
            margin: 10px 0 15px;
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -30px;
            width: 19px;
            height: 19px;
            background: url(/templates/dist/images/pricing-details/info-icon.png) no-repeat;
            cursor: pointer;
            @include phablet-down {
              right: -25px;
              width: 16px;
              height: 16px;
            }
          }
        }
        p {
          font-size: 18px;
          color: $white;
          @include tablet {
            font-size: 16px;
          }
          @include phablet {
            font-size: 16px;
          }
          @include phone {
            font-size: 14px;
          }
          @include phone-down {
            font-size: 14px;
          }
        }
      }
      .table-content {
        padding: 35px 64px 60px 48px;
        @include tablet {
          padding: 35px 24px 40px 24px;
        }
        @include phablet {
          padding: 10px 18px 30px;
        }
        @include phone {
          padding: 20px 50px 30px;
          text-align: center;
        }
        @include phone-down {
          padding: 20px 20px 30px;
          text-align: center;
        }
        h6 {
          &:first-child {
            display: inline-block;
            transform: rotate(-90deg) translateX(190%);
            transform-origin: 150px 150px;
            @include tablet {
              transform-origin: 110px 110px;
            }
            @include phablet {
              transform-origin: 100px 100px;
            }
            @include phablet-down {
              transform-origin: 0 0;
              //transform: rotateY(0deg);
              //margin-bottom: 20px;
            }
          }
        }
        table {
          width: 100%;
          text-align: center;
          border-collapse: collapse;
          display: inline-block;
          padding-left: 40px;
          margin-bottom: 120px;
          @include tablet {
            margin-bottom: 70px;
          }
          @include phablet {
            margin-bottom: 50px;
            padding-left: 30px;
          }
          @include phone {
            padding-left: 30px;
            margin-bottom: 30px;
            width: auto;
          }
          @include phone-down {
            padding-left: 0;
            margin-bottom: 30px;
            width: auto;
          }
          thead {
            th {
              border: none;
              &:nth-child(2) {
                border-left: 1px solid $astronaut-blue;
              }
            }
          }
          th {
            font-size: 20px;
            font-family: "proxima-nova", sans-serif;
            font-weight: 400;
            color: $primary;
            border: 1px solid $astronaut-blue;
            padding: 11px;
            @include tablet {
              font-size: 18px;
              padding: 8px;
            }
            @include phablet {
              font-size: 16px;
              padding: 4px;
            }
            @include phablet-down {
              font-size: 16px;
              padding: 8px;
            }
            &#vol {
              font-weight: 600;
              color: $astronaut-blue;
              border-top: none;
              border-left: 1px solid $astronaut-blue;
            }
          }
          tbody {
            tr {
              td {
                border: 1px solid $astronaut-blue;
                font-size: 20px;
                font-family: $proxima;
                color: $primary2;
                @include tablet {
                  font-size: 18px;
                }
                @include phablet {
                  font-size: 16px;
                }
                @include phablet-down {
                  font-size: 16px;
                }
                &:last-child {
                  border-right: none;
                }
              }
              th {
                &:first-child {
                  border: none;
                }
              }
              &:first-child {
                th {
                  border-top: 1px solid $astronaut-blue;
                  @include phablet {
                    padding: 4px 5px;
                  }
                  @include phone {
                    padding: 12px;
                  }
                  @include phone-down {
                    padding: 12px;
                  }
                }
              }
              &:last-child {
                td {
                  border-bottom: none;
                }
              }
            }
          }
        }
        .bottom-heading {
          color: $primary2;
          font-weight: 400;
          @include phablet-down {
            text-align: left;
          }
        }
      }
    }
  }

}