@import "../common/variables";

.solution-comparison {
  .intro-block {
    p {
      font-size: 18px;
    }
  }
  .column-wrapper {
    margin-top: 45px;
    @include tablet {
      margin-top: 40px;
    }
    @include phablet {
      margin-top: 35px;
    }
    @include phablet-down {
      margin-top: 30px;
    }
    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      @include phone-down {
        display: block;
        position: relative;
      }
      thead {
        @include phone-down {
          display: block;
          float: left;
          width: 40%;
        }
        td {
          width: 14.47%;
          text-align: center;
          @include phone-down {
            width: 100%;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            border-left: none;
            font-size: 15px;
            float: left;
            border-right: 1px solid $astronaut-blue;
            border-left: none;
          }
          h5 {
            color: $white;
            font-weight: 400;
            @include phone-down {
              font-size: 16px;
              text-align: left;
            }
          }

        }
      }
      tr {
        @include phone-down {
          display: inline-block;
          width: 100%;
          vertical-align: top;
          border: none;
          word-break: break-word;
          white-space: normal;
        }
      }
      td {
        padding: 15px;
        font-size: 16px;
        font-family: $proxima;
        font-weight: 400;
        color: $primary2;
        border-left: 1px solid $astronaut-blue;
        text-align: center;
        @include phone {
          padding: 12px;
          font-size: 15px;
        }
        @include phone-down {
          padding: 20px;
        }
        &:first-child {
          width: 56.6%;
          position: relative;
          border-left: none;
          padding: 3px 10px 3px 87px;
          text-align: left;
          @include phablet {
            padding: 3px 10px 3px 50px;
          }
          @include phone {
            padding: 5px 10px 5px 35px;
          }
          @include phone-down {
            padding: 20px;
            width: 100%;
            font-size: 14px;
            float: right;
          }
          &.for-space {
            padding-top: 40px;
            @include phablet {
              padding-top: 20px;
            }
            @include phone {
              padding-top: 15px;
            }
            @include phone-down {
              display: none;
              visibility: hidden;
              padding: 0;
            }
          }
        }
        a {
          display: inline-block;
          margin: 40px auto 30px;
          @include phone {
            margin: 20px auto;
          }
          @include phone-down {
            margin: 0 auto;
          }
        }
        &.features {
          &:before {
            content: '';
            position: absolute;
            left: 60px;
            top: 60%;
            width: 12px;
            height: 12px;
            background: url(/templates/dist/images/pricing-details/eclipse.png) no-repeat;
            transform: translateY(-50%);
            @include phablet {
              left: 20px;
            }
            @include phone {
              left: 15px;
            }
            @include phone-down {
              display: none;
            }
          }
        }
        &.table-btn {
          text-align: center;
        }
      }
      tbody {
        background: $light-gray;
        @include phone-down {
          display: block;
          width: auto;
          position: relative;
          overflow-x: auto;
          white-space: nowrap;
          font-size: 0;
        }
        tr {
          &:first-child {
            @include phone-down {
              display: none;
            }
          }
          @include phone-down {
            width: calc(100% - 10px);
            border-right: 1px solid $astronaut-blue;
          }
          td {
            border-left: 1px solid $astronaut-blue;
            @include phone-down {
              width: 100%;
              padding: 12px 10px;
              border: none;
              font-size: 14px;
              display: -webkit-flex;
              display: flex;
              -webkit-align-items: center;
              align-items: center;
              justify-content: center;
            }
            @include phone-up {
              height: auto !important;
            }
            img {
              width: 13px;
              height: 13px;
              @include phone {
                width: 11px;
                height: 11px;
              }
            }
          }
          &.for-btn {
            @include phone-down {
              display: none;
            }
          }
        }
      }
    }
    .responsive-btn {
      text-align: center;
      margin-top: 20px;
      display: none;
      @include phone-down {
        display: block;
      }
      a {
        display: inline-block;
      }
    }
  }
}