@import "../common/variables";

.terms-conditions-overlay  {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: white;
  height: 100%;
  overflow-y: scroll;
  .close {
    position: absolute;
    right: 40px;
    top: 80px;
    width: 26px;
    height: 26px;
    background: $white;
    border: 1px solid $white;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
    z-index: 10;
    @include tablet-down {
      right: 20px;
    }
    img {
      width: 100%;
    }
  }
}