@import "../common/variables";

.terms-conditions-content {
  h5 {
    display: inline-block;
    position: relative;
    color: $astronaut-blue;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: -0.01em;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: $gray;
      bottom: -11px;
      left: 0;
      right: 0;
    }
  }
  .terms-conditions-details {
    margin-top: 45px;
    ol {
      li {
        margin-bottom: 10px;
        p {
          margin-bottom: 20px;
        }
        .inner-list {
          padding-left: 15px;
          span {
            display: inline-block;
            margin-right: 10px;
            font-family: $proxima;
            font-size: 16px;
            line-height: 1.5;
            color: $primary2;
          }
          p {
            display: inline;
          }
          .space-left {
            padding-left: 28px;
          }
        }
      }
      h6 {
        color: $astronaut-blue;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }
}