@import "../common/variables";

.testimonial-slider {
  .bg-img {
    height: 556px;
    @include tablet {
      height: 520px;
    }
    @include phablet {
      height: 480px;
    }
    @include phablet-down {
      height: 456px;
    }
    img {
      height: 100%;
      width: 100%;
    }
    &.overlay-blue {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(7, 49, 67, .67);
        z-index: 1;
      }
    }
  }
  .intro-block {
    @include tablet {
      padding-bottom: 20px;
    }
    @include tablet-down {
      padding-bottom: 20px;
    }
  }
  .column-wrapper {
    opacity: 0;
    margin: 44px auto 0;
    position: relative;
    max-width: 980px;
    padding-bottom: 13px;
    @include tablet {
     // max-width: 100%;
    //  padding: 0 50px;
      width: calc(100% - 40px);
      margin: 20px auto;
    }
    @include phablet {
      max-width: 560px;
      width: calc(100% - 40px);
      margin: 20px auto;
    }
    @include phone {
     // max-width: 100%;
   //   padding: 0 20px;
      width: 450px;
      margin: 20px auto;
    }
    @include phone-down {
      max-width: 100%;
    //  padding: 0 20px;
      width: 280px;
      margin: 20px auto;
    }
    .logo-noclick {
      position: absolute;
      width: 50%;
      right: 0;
      top: 0;
      @include tablet-down {
        display: none;
      }
      .col-four {
        width: 50%;
        &:first-child {
          margin-top: 10px;
        }
        .logo {
          img {
            @include tablet {
              max-width: 140px;
            }
            @include phablet {
              max-width: 140px;
            }
            @include phablet-down {
              max-width: 140px;
            }
          }
        }
      }
    }
    .logo-wrap {
      .slick-list {
      }
      .slick-track{
        @include tablet {
          max-width: 50%;
        }
        .col-four {
          @include tablet {
            max-width: 50%;
            display: inline-block !important;
          }
          .logo {
            @include tablet {
              display: inline-block;
              margin: auto;
            }
          }
        }
      }
      .col-four {
        display: table !important;
        outline: none;
        .logo {
          display: table-cell;
          vertical-align: middle;
          height: 77px;
          cursor: pointer;
          img {
            max-width: 227px;
            margin: 0 auto;
            @include tablet {
              max-width: 140px;
            }
            @include phablet {
              max-width: 140px;
            }
            @include phablet-down {
              max-width: 140px;
            }
          }
        }
        &:nth-of-type(3) {
          pointer-events: none;
        }
        &:nth-of-type(4) {
          pointer-events: none;
        }
      }
      &.slider-nav {
        .slick-current {
          position: relative;
          padding-bottom: 60px;
          @include phablet {
            padding-bottom: 40px;
          }
          @include phablet-down {
            padding-bottom: 40px;
          }
          &:after {
            content: '';
            position: absolute;
            top: 89px;
            left: calc(50% - 85px);
            width: 100%;
            max-width: 160px;
            height: 10px;
            background: $primary;
            border-radius: 20px;
            @include tablet {
              top: 80px;
              left: 50%;
              @include transform(translateX(-50%));
            }
            @include phablet {
              top: 80px;
            }
            @include phone {
              top: 75px;
              height: 7px;
            }
            @include phone-down {
              top: 74px;
              height: 8px;
              left: calc(50% - 80px);
            }
          }
        }
      }
    }
    .slick-dots {
      position: absolute;
      top: 93px;
      height: 2px;
      width: 100%;
      max-width: 980px;
      margin: 0 auto;
      left: 0;
      right: 0;
      background: $white;
      z-index: -1;
      @include tablet {
       // max-width: 700px;
        top: 85px;
      }
      @include phablet {
       // max-width: 450px;
        top: 84px;
      }
      @include phone {
       // max-width: 400px;
        top: 78px;
      }
      @include phone-down {
        top: 78px;
       // max-width: 260px;
      }
    }
    .testimonial-wrapper {
      max-width: 730px;
      margin: 0 auto;
      padding-top: 26px;
      @include tablet {
        padding-top: 0;
      }
      @include tablet-down {
        padding-top: 0;
      }
      .slick-slide {
        outline: none;
      }
      .slick-prev {
        position: absolute;
        left: -56px;
        top: 52px;
        width: 34px;
        height: 34px;
        outline: none;
        background: transparent;
        text-indent: 999999px;
        cursor: pointer;
        @include tablet {
          left: -20px;
          top: 35px;
        }
        @include phablet {
          left: -35px;
        }
        @include phone {
          left: -20px;
          width: 25px;
          height: 25px;
        }
        @include phone-down {
          left: -20px;
          width: 25px;
          height: 25px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: 100% 100%;
          background: url(/templates/dist/images/right_arrow.svg) no-repeat;
          background-size: 100%;
          @include transform(rotate(180deg))
        }
      }
      .slick-next {
        position: absolute;
        right: -60px;
        top: 52px;
        width: 34px;
        height: 34px;
        outline: none;
        background: transparent;
        text-indent: 999999px;
        cursor: pointer;
        @include tablet {
          right: -20px;
          top: 35px;
        }
        @include phablet {
          right: -35px;
        }
        @include phone {
          right: -20px;
          width: 25px;
          height: 25px;
        }
        @include phone-down {
          right: -20px;
          width: 25px;
          height: 25px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: url(/templates/dist/images/right_arrow.svg) no-repeat;
          background-size: 100%;
        }
      }
      .content-wrap {
        display: inline-block;
        padding: 0 6px;
        @include desktop-down {
          padding: 0 10px;
        }
        p {
          color: $white;
          max-width: 730px;
          margin: 0 auto;
          line-height: 1.5;
        }
        span {
          font-size: 16px;
          color: $white;
          display: block;
          font-family: $proxima;
          margin-top: 35px;
          @include phablet {
            margin-top: 20px;
          }
          @include phone {
            margin-top: 15px;
          }
          @include phone-down {
            margin-top: 12px;
            font-size: 14px;
          }
        }
        a {
          display: inline-block;
          margin: 36px auto 0;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}