@import 'common/variables';
@import 'common/button';

// Plugins
@import 'plugins/example';
@import 'plugins/slick';
@import 'plugins/animate';

body.ql-18{
  margin: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #ffffff !important;
  @import 'common/global';
  @import 'common/button';
  @import 'global/_header.scss';
  @import 'global/_footer.scss';
  @import 'section/hero-slider';
  @import 'section/col-three-block';
  @import 'section/intro-block';
  @import 'section/signup-cta';
  @import 'section/col-two-block';
  @import 'section/signup-form';
  @import 'section/pricing-details';
  @import 'section/testimonial-slider';
  @import 'section/cta-column';
  @import 'section/col-two-cta';
  @import 'section/grid-sections';
  @import 'section/banner-second-level';
  @import 'section/contact-us';
  @import 'section/table-sales-analytics';
  @import 'section/table-comparison-chart';
  @import 'section/pricing-sales-analytics-overlay';
  @import 'section/qlik-video-overlay';
  @import "section/col-four-block";
  @import "section/pricing-overlay";
  @import "section/terms-conditions-overlay";
  @import "section/terms-conditions-content";
  @import "section/qlik-image-overlay";
  @import "section/pricing-overlay-bg";
  @import "section/privacy-policy-overlay";
  @import "section/privacy-policy-content";
}
.main-wrap {
  opacity: 0;
}
body.pricing-overlay-active {
  overflow-y: hidden;
}
body.terms-conditions-overlay-active {
  overflow-y: hidden;
}
body.pricing-overlay-inactive {
  overflow-y: scroll;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $white;
}
input::-ms-clear {
  display: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
#loader {
  display: table;
  position: relative;
  margin: auto;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0071aa;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #338dbb;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #66aacc;
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

/*
* Flip animation fix for IE 11 browser
*/
.ua-ie-11 {
  body.ql-18 {
    .pricing-details {
      .column-wrapper {
        .col-four {
          .hover {
            .front {
              backface-visibility: visible;
              @include transition(all, .5s, ease-in-out);
            }
            .back {
              backface-visibility: visible;
              transform: rotateY(0deg);
              z-index: -1;
              @include transition(all, .5s, ease-in-out);
            }
            &.ie-flip {
              .front {
                opacity: 0;
                z-index: -1;
              }
              .back {
                opacity: 1;
                z-index: 4;
              }
            }
          }
        }
      }
    }
  }
}

/*
* Flip animation fix for IE 11 browser
*/
.ua-ie-11 {
  body.ql-18 {
    .col-four-block {
      .column-wrapper {
        .col-two {
          .hover {
            .front {
              backface-visibility: visible;
              @include transition(all, .5s, ease-in-out);
            }
            .back {
              backface-visibility: visible;
              transform: rotateY(0deg);
              z-index: -1;
              @include transition(all, .5s, ease-in-out);
            }
            &.ie-flip {
              .front {
                opacity: 0;
                z-index: -1;
              }
              .back {
                opacity: 1;
                z-index: 4;
              }
            }
          }
        }
      }
    }
  }
}