@import "../common/variables";

footer {
  background: $light-gray;
  float: left;
  width: 100%;
  .main-footer {
    padding: 62px 0 69px;
    font-size: 0;
    @include phablet {
      padding: 40px 0;
    }
    @include phone {
      padding: 40px 0;
    }
    @include phone-down {
      padding: 30px 0;
    }
    .col-three {
      text-align: left;
      @media (max-width: 400px) {
        width: 100% !important;
      }
      &:first-child {
        width: 20%;
        @include tablet {
          width: 25%;
        }
        @include phablet {
          width: 20%;
          margin: 0 20px 0 0;
        }
        @include phablet-down {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 50%;
        padding-left: 40px;
        @include tablet {
          width: 40%;
        }
        @include phablet {
          width: 40%;
          padding-left: 30px;
        }
        @include phablet-down {
          margin-top: 30px;
          width: 60%;
          padding-left: 0;
        }
      }
      &:last-child {
        width: 30%;
        @include tablet {
          width: 35%;
        }
        @include phablet {
          width: 30%;
          float: right;
          margin: 0;
        }
        @include phablet-down {
          margin-top: 30px;
          width: 40%;
          margin-bottom: 0;
        }
      }

      .footer-logo {
        margin-top: 4px;
        a {
          display: inline-block;
          img {
            max-width: 113px;
            max-height: 54px;
          }
        }
      }
      .social-links {
        li {
          display: inline-block;
          margin: 23px 20px 0 0;
          @include phablet-down {
            margin-top: 10px;
          }
          a {
            width: 19px;
            height: 19px;
            svg {
              width: 100%;
              height: 100%;
              path {
                @include transition(all, 0.3s, ease);
              }
            }

            &.twitter {
              height: 19px;
              width: 19px;
              &:hover {
                svg {
                  path {
                    fill: #4AB3F4;
                  }
                }
              }
            }
            &.youtube {
              height: 21px;
              width: 21px;
              &:hover {
                svg {
                  path {
                    fill: #FF0000;
                  }
                }
              }
            }
            &.linkedin {
              width: 19px;
              height: 19px;
              &:hover {
                svg {
                  path {
                    fill: #0077B5;
                  }
                }
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      h6 {
        font-weight: 400;
        color: $primary;
        margin-bottom: 13px;
        @include phablet-down {
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.01em;
        &.contact-no {
          margin: 15px 0;
          @include tablet {
            margin: 10px 0;
          }
          @include tablet-down {
            margin: 10px 0;
          }
          a {
            color: #5a5a5a;
          }
        }
      }
      .e-mail {
        display: inline-block;
        color: $primary2;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background: $primary2;
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
        &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      input {
        float: left;
        width: 100%;
        max-width: 214px;
        font-size: 14px;
        padding: 9px 12px 9px;
        margin-right: 8px;
        outline: none;
        border: none;
        box-shadow: 2px 2px 6px 0 rgb(185, 185, 185);
        -webkit-box-shadow: 2px 2px 6px 0 rgb(185, 185, 185);
        -moz-box-shadow: 2px 2px 6px 0 rgb(185, 185, 185);
        @include phablet {
          max-width: 160px;
        }
        @include phone {
          max-width: 160px;
        }
        @include phone-down {
          max-width: 200px;
          padding: 8px 10px;
        }
      }
      ::-webkit-input-placeholder {
        font-size: 10.5px;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: $primary2;
      }
      ::-moz-placeholder {
        font-size: 10.5px;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: $primary2;
      }
      :-ms-input-placeholder {
        font-size: 10.5px;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: $primary2;
      }
      button {
        padding: 8px 15px 6px;
        @include phone-down {
          padding: 7px 8px;
        }
      }
      .qlik-logo {
        float: right;
        @include phone-down {
          float: none;
        }
        h6 {
          color: $green;
          margin: 0 0 15px;
          @include tablet-down {
            margin: 0 0 10px;
          }
        }
        a {
          display: block;
          width: 135px;
          height: auto;
        }

      }
    }
  }
  .bottom-links {
    background: $darker-gray;
    color: $white;
    text-align: center;
    padding: 7px 0 13px;
    li {
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
      font-family: $proxima;
      a {
        display: inline-block;
        color: $white;
        font-size: 12px;
        position: relative;
        @include transition(all, 0.3s, ease);
        @include phone-down {
          font-size: 12px;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background: $white;
          display: inline-block;
          opacity: 0;
          @include transition(all, 0.3s, ease);
        }
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
      &:nth-child(2) {
        margin: 0 143px;
        @include phablet {
          margin: 0 90px;
        }
        @include phone {
          margin: 0 35px;
        }
        @include phone-down {
          margin: 5px 0 0 0;
          display: block;
        }
      }
    }
  }
}