@import "../common/variables";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  .main-nav {
    background: $lighter-gray;
    padding: 14px 0 13px;
    .toggle {
      display: none;
      @include tablet-down {
        display: block;
        float: right;
        width: 30px;
        height: 20px;
        margin-top: 10px;
        margin-right: 0;
        cursor: pointer;
      }
      span {
        width: 10px;
        height: 2px;
        display: inline-block;
        background: $gray;
        @include tablet-down {
          display: block;
          width: 30px;
          height: 3px;
          margin: 4px 0;
        }
        &:nth-child(1) {
          animation-name: burgerOneReverse;
          -webkit-animation-name: burgerOneReverse;
          -moz-animation-name: burgerOneReverse;
          animation-duration: 500ms;
          -webkit-animation-duration: 500ms;
          -moz-animation-duration: 500ms;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          transform-origin: center;
          -webkit-transform-origin: center;
          -moz-transform-origin: center;
        }
        &:nth-child(2) {
          animation-name: burgerTwoReverse;
          -webkit-animation-name: burgerTwoReverse;
          -moz-animation-name: burgerTwoReverse;
          animation-duration: 500ms;
          -webkit-animation-duration: 500ms;
          -moz-animation-duration: 500ms;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          transform-origin: center;
          -webkit-transform-origin: center;
          -moz-transform-origin: center;
          opacity: 0;
        }
        &:nth-child(3) {
          animation-name: burgerThreeReverse;
          -webkit-animation-name: burgerThreeReverse;
          -moz-animation-name: burgerThreeReverse;
          animation-duration: 500ms;
          -webkit-animation-duration: 500ms;
          -moz-animation-duration: 500ms;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          transform-origin: center;
          -webkit-transform-origin: center;
          -moz-transform-origin: center;
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            animation-name: burgerOne;
            -webkit-animation-name: burgerOne;
            -moz-animation-name: burgerOne;
            animation-duration: 500ms;
            -webkit-animation-duration: 500ms;
            -moz-animation-duration: 500ms;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: center;
          }
          &:nth-child(2) {
            animation-name: burgerTwo;
            -webkit-animation-name: burgerTwo;
            -moz-animation-name: burgerTwo;
            animation-duration: 500ms;
            -webkit-animation-duration: 500ms;
            -moz-animation-duration: 500ms;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: center;
            opacity: 0;
          }
          &:nth-child(3) {
            animation-name: burgerThree;
            -webkit-animation-name: burgerThree;
            -moz-animation-name: burgerThree;
            animation-duration: 500ms;
            -webkit-animation-duration: 500ms;
            -moz-animation-duration: 500ms;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            transform-origin: center;
            -webkit-transform-origin: center;
            -moz-transform-origin: center;
          }
        }
      }
    }
    .logo {
      float: left;
      margin-top: 1px;
      padding: 0 50px 0 0;
      @include tablet {
        padding: 0 45px 0 0;
      }
      img {
        max-width: 92px;
        max-height: 44px;
      }
      a {
        display: block;
        width: 92px;
        height: 45px;
        @include phablet-down {
          width: 75px;
          height: 37px;
        }
      }
    }
    .main-menu {
      display: block;
      float: left;
      @include tablet-up {
        display: block !important;
      }
      @include tablet-down {
        display: none;
        overflow: auto;
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: $primary;
        opacity: 0.9;
        left: 0;
        top: 50px;
        z-index: 11;
        padding: 10px 20px 30px;
      }
      li {
        display: inline-block;
        position: relative;
        @include tablet-down {
          position: relative;
          display: block;
          width: 100%;
          margin: 5px 0;
        }
        a {
          display: inline-block;
          color: $primary2;
          padding: 14px 17px 12px;
          font-size: 16px;
          font-weight: 400;
          position: relative;
          @include tablet {
            padding: 17px 14px 12px;
          }
          @include tablet-down {
            width: auto;
            padding: 7px 0;
            line-height: 1;
            display: inline-block;
            color: $white;
          }
          &:before {
            @include tablet-down {
              content: "";
              position: absolute;
              z-index: 0;
              width: 100%;
              bottom: 5px;
              left: 0;
              background: $white;
              height: 1px;
              opacity: 0;
              visibility: hidden;
              @include transition(all, 0.3s, ease-out);
              //-o-transform: scaleX(0);
              //-webkit-transform: scaleX(0);
              //transform: scaleX(0);
              //transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
              //-webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
              //-o-transition: -o-transform 0.4s cubic-bezier(1, 0, 0, 1);
              //transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
              //transition: transform 0.4s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1), -o-transform 0.4s cubic-bezier(1, 0, 0, 1);
              //transition: transform 0.4s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
              //-o-transform-origin: right top;
              //-webkit-transform-origin: right top;
              //transform-origin: right top;
            }
          }
          &:hover {
            color: $primary;
            @include transition(all, 0.3s, ease-out);
            @include tablet-down {
              color: $white;
            }
            @include tablet-down {
              &:before {
                opacity: 1;
                visibility: visible;
                @include transition(all, 0.3s, ease-out);
                //-webkit-transform: scale(1);
                //-o-transform: scale(1);
                //transform: scale(1);
                //-webkit-transform-origin: left top;
                //-o-transform-origin: left top;
                //transform-origin: left top;
              }
            }
          }
        }
        &.active {
          a {
            color: #0071aa;
            @include tablet-down {
              color: $white;
            }
          }
        }
      }
      .mobile-button {
        display: none;
        //margin-top: 20px;
        @include tablet-down {
          display: block;
        }
        span {
          box-shadow: none;
          display: inline-block;
          border: 2px solid $white;
        }
      }
    }
    button {
      float: right;
      margin-top: 5px;
      @include transition(all, 0.3s, ease-out);
      &:hover {
        background: $white;
        @include transition(all, 0.3s, ease-out);
        a {
          background: $white;
          color: $primary;
        }
      }
      @include tablet-down {
        display: none;
      }
    }
    .contact-us {
      float: right;
      margin-top: 5px;
      @include transition(all, 0.3s, ease-out);
      &:hover {
        background: $white;
        @include transition(all, 0.3s, ease-out);
        a {
          background: $white;
          color: $primary;
        }
      }
      @include tablet-down {
        display: none;
      }
    }
  }
}

/* Burger-One */
@keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@-moz-keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@-webkit-keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@-ms-keyframes burgerOne {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

/* Burger-two */
@keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes burgerTwo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Burger-Three */

@keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@-moz-keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@-webkit-keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@-ms-keyframes burgerThree {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

/* reverse-animation */

/* Burger-one-reverse */

@keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-moz-keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-webkit-keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-ms-keyframes burgerOneReverse {
  0% {
    transform: translateY(7px) rotate(-45deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

/* Burger-two */
@keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes burgerTwoReverse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Burger-Three */

@keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-moz-keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-webkit-keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@-ms-keyframes burgerThreeReverse {
  0% {
    transform: translateY(-7px) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

//@keyframes open-animate {
//  0% {
//    opacity: 0;
//    @include transform(translateY(-25%) rotateX(35deg));
//  }
//  100% {
//    opacity: 1;
//    @include transform(translateY(0%) rotateX(0deg));
//  }
//}
//
//@keyframes close-animate {
//  0% {
//    opacity: 1;
//    @include transform(translateY(0%) rotateX(0deg));
//  }
//  100% {
//    opacity: 0;
//    @include transform(translateY(25%) rotateX(35deg));
//  }
//}
//
//@keyframes hamburgerOne {
//  0% {
//    @include transform(translateY(0px) rotate(0deg));
//  }
//  50% {
//    @include transform(translateY(10px) rotate(0deg));
//  }
//  100% {
//    @include transform(translateY(10px) rotate(-45deg));
//  }
//}
//
//@keyframes hamburgerTwo {
//  0% {
//    opacity: 1;
//  }
//  100% {
//    opacity: 0;
//  }
//}
//
//@keyframes hamburgerThree {
//  0% {
//    @include transform(translateY(0px) rotate(0deg));
//  }
//  50% {
//    @include transform(translateY(-10px) rotate(0deg));
//  }
//  100% {
//    @include transform(translateY(-10px) rotate(45deg));
//  }
//}
//
//@keyframes hamburgerOneReverse {
//  0% {
//    @include transform(translateY(10px) rotate(-45deg));
//  }
//  50% {
//    @include transform(translateY(10px) rotate(0deg));
//  }
//  100% {
//    @include transform(translateY(0px) rotate(0deg));
//  }
//}
//
//@keyframes hamburgerTwoReverse {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
//
//@keyframes hamburgerThreeReverse {
//  0% {
//    @include transform(translateY(-10px) rotate(45deg));
//  }
//  50% {
//    @include transform(translateY(-10px) rotate(0deg));
//  }
//  100% {
//    @include transform(translateY(0px) rotate(0deg));
//  }
//}

/*Firefox Specific Hacks */
@-moz-document url-prefix() {
  header.ql8 {
    .main-nav {
      .primary-nav {
        > li {
          .view-more-nav {
            li {
              a {
                @include desktop-up {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.no-touch {

}

.touch {
}
