@import 'variables';

/*
 * Links.
 */
.btn-default {
  font-style: normal;
  font-family: $proxima;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  padding: 8px 17px 6px;
  color: $white;
  background: $primary;
  display: block;
  outline: none;
  cursor: pointer;
  border: 2px solid $primary;
  box-shadow: 2px 2px 6px 0 rgb(185, 185, 185);
  -webkit-box-shadow: 2px 2px 6px 0 rgb(185, 185, 185);
  -moz-box-shadow: 2px 2px 6px 0 rgb(185, 185, 185);
  @include transition(all, 0.3s, ease-out);
  &:hover {
    background: $white;
    color: $primary;
  }
  &.btn-two {
    border: 2px solid $curious-blue;
    &:hover {
      background: $white !important;
      color: $curious-blue;
    }
  }
  &.btn-signup {
    border: 2px solid #1d5f7f;
    &:hover {
      background: $white !important;
      color: #1d5f7f;
    }
  }
  @include phone-down {
    padding: 5px 10px;
  }
}

.btn-two {
  background: $curious-blue !important;
}


.btn-transparent {
  font-style: normal;
  font-family: $proxima;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  padding: 9px 15px 7px;
  color: $white;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid $white;
  @include transition(all, 0.3s, ease-out);
  &:hover {
    background: $white;
    @include transition(all, 0.3s, ease-out);
  }
}

.btn-gray {
  background: $gray !important;
}
.btn-primary {
  background: $primary !important;
  &:hover {
    background: transparent !important;
  }
}
.btn-signup {
  background: #1d5f7f !important;
}