@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ol, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  font-family: $proxima;
}

h1, h2, h3, h4, h5, h6, p,
fieldset, form, label,
table, tbody, tr, th, td,
figure, footer, header,
menu, nav, section,
audio, video, button {
  margin: 0;
  border: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  border: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1150px;
  position: relative;
}

section {
  width: 100%;
  position: relative;
  float: left;
  padding: 60px 0 75px;
  overflow: hidden;
  @include desktop {
    padding: 60px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 30px 0;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

header:after,
.container:after,
.ql-18:after,
.wrapper:after,
.column-wrapper:after,
.grid-wrapper:after,
.two-third:after,
.content-wrapper:after,
.v-middle-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

/*
 * Heading and Paragraph.
 */

h1 {
  font-size: 57px;
  font-family: $proxima;
  line-height: 1.14;
  letter-spacing: -0.039em;

  @include desktop {
    font-size: 50px;
  }
  @include tablet {
    font-size: 45px;
  }
  @include phablet {
    font-size: 40px;
  }
  @include phone {
    font-size: 35px;
  }
  @include phone-down {
    font-size: 30px;
  }
}

h2 {
  font-size: 38px;
  font-family: $proxima;
  letter-spacing: -0.001em;
  color: $gray;
  @include desktop {
    font-size: 36px;
  }
  @include tablet {
    font-size: 34px;
  }
  @include phablet {
    font-size: 32px;
  }
  @include phone {
    font-size: 28px;
  }
  @include phone-down {
    font-size: 24px;
  }
}

h3 {
  font-size: 35px;
  font-family: $proxima;
  font-weight: 400;
  line-height: 1.46;
  letter-spacing: -0.001em;
  color: $gray;
  @include desktop {
    font-size: 32px;
  }
  @include tablet {
    font-size: 30px;
  }
  @include phablet {
    font-size: 24px;
  }
  @include phablet-down {
    font-size: 20px;
  }
}

h4 {
  font-size: 30px;
  font-family: $proxima;
  line-height: 1.25;
  font-weight: 400;
  @include desktop {
    font-size: 28px;
  }
  @include tablet {
    font-size: 26px;
  }
  @include phablet {
    font-size: 24px;
  }
  @include phablet-down {
    font-size: 18px;
  }
}

h5 {
  font-size: 25px;
  font-family: $proxima;
  @include desktop {
    font-size: 22px;
  }
  @include tablet {
    font-size: 20px;
  }
  @include phablet {
    font-size: 20px;
  }
  @include phablet-down {
    font-size: 18px;
  }
}

h6 {
  font-size: 20px;
  font-family: $proxima;
  @include desktop {
    font-size: 18px;
  }
  @include tablet {
    font-size: 16px;
  }
  @include phablet {
    font-size: 16px;
  }
  @include phablet-down {
    font-size: 16px;
  }
}

p {
  font-family: $proxima;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  color: $primary2;
  @include tablet-down {
    line-height: 1.3;
  }
  @include phone-down {
    font-size: 14px;
  }
}

a {
  font-size: 14px;
  display: block;
  color: $primary;
  position: relative;
}

/*
 * Columns.
 */

.col {
  width: 100%;
  float: left;
  position: relative;
}

.col-two {
  width: 50%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

.col-three {
  width: 33.33%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

.col-four {
  width: 25%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

.col-five {
  width: 20%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

.col-six {
  width: 16.66%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

.col-seven {
  width: 66.66%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

.col-eight {
  width: 75%;
  float: left;
  position: relative;
  @include tablet-down {
    width: 100%;
  }
}

/*
 * Background Image.
 */
.bg-img {
  overflow: hidden;
}

/*
 * Vertical Align Middle.
 */
.v-middle-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3
}

.v-middle-inner {
  display: table;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.v-middle,
.v-top,
.v-bottom {
  display: table-cell;
  vertical-align: middle;
}

.v-top {
  vertical-align: top;
}

.v-bottom {
  vertical-align: bottom;
}

/*
 * Text Alignment.
 */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

/*
 * Effects.
 */
.zoom-in img {
  @include transform(scale(1));
  @include transition(transform, .4s, ease-in-out);
}

.zoom-in:hover img {
  @include transform(scale(1.06));
}

.zoom-bg .bg-img img {
  @include transform(scale(1));
  @include transition(transform, .4s, ease-in-out);
}

.zoom-bg:hover .bg-img img {
  @include transform(scale(1.06));
}

.blend-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}

:-ms-input-placeholder { /* IE 10+ */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}

:-moz-placeholder { /* Firefox 18- */
  color: $primary2;
  opacity: 1;
  font-size: 12px;
  font-weight: 700;
}

.white {
  color: $white;
}

.width-720 {
  max-width: 720px;
}
.inline {
  display: inline;
}

/*
 * background-color.
 */

.bg-gray {
  background: $gray !important;
}

.bg-light-gray {
  background: $light-gray !important;
}

.bg-lighter-gray {
  background: $lighter-gray !important;
}

.bg-primary {
  background: $primary !important;
}

.bg-light-blue {
  background: $light-blue !important;
}

.bg-dark-blue {
  background: $dark-blue !important;
}

.bg-curious-blue {
  background: $curious-blue !important;
}

.bg-astronaut-blue {
  background: $astronaut-blue !important;
}

.bg-cashmere {
  background: $cashmere !important;
}